.block.contact {
  color: var(--color-white);
  z-index: 100;
  font-size: var(--font-size-small);
  padding: var(--padding);
  background-color: var(--color-black);

  .inner {
    display: flex;
    justify-content: space-evenly;
  }

  .title {
    display: none;
  }

  a {
    color: var(--color-white);
  }
}