.block.contact {
  z-index: 100;
  padding-inline: var(--padding);
  width: 100%;
  z-index: 0;
  background: url('/assets/footer.jpg') no-repeat bottom center;
  padding-bottom: 240px;
  background-size: 100%;

  .buttons {
    margin-top: 30px;
    text-align: right;
  }

  .button {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: $tablet) {
  .block.contact {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    background-size: 900px;
    padding-bottom: 520px;

    .title {
      flex: 0 0 100%;
      text-align: center;
    }

    .buttons,
    .text {
      flex: 0 0 30%;
    }

    .text {
      text-align: left;
      order: 5;

      p:first-child {
        margin-top: 0;
      }
    }

    .buttons {
      margin-top: 0;
    }
  }
}