* {
  box-sizing: border-box;
}

html, body, ul, li, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Merriweather Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

* {
  line-height: 1.5;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h2 {
  font-style: italic;
}

body > .inner {
  padding: var(--padding);

  > .title {
    margin-bottom: 26px;
    clear: both;
  }
}

body {
  overflow-x: hidden;
  max-width: 1280px;
  margin-inline: auto;
}

ul {
  padding-left: 12px;
}