:root {
  --color-black: rgb(39, 38, 38);
  --color-white: rgb(204, 204, 204);
  --background-color: white;
  --padding: 16px;
  --font-size-small: 14px;
  --color-accent: rgb(219, 216, 200);
  --one-block: calc((100vh - 275px) / 3);
}
