---
title: Showcases
menu: true
weight: 1
---
{% assign sliced_showcases = site.showcases | where: 'published', true | slice: 0, 6 %}
{% assign more_sliced_showcases = site.showcases | where: 'published', true | slice: 6, 1000 %}

<div class="inner" style="--span: {{ more_sliced_showcases | size | modulo: 4 }};">

  {% for showcase in sliced_showcases %}
  <a class="grid-item showcase" href="{{ showcase.url }}">
    <span class="title">{{ showcase.title }}</span>
    {% include image.html src=showcase.image alt=showcase.title width=1280 height=1280 %}
  </a>
  {% endfor %}

  {% for showcase in more_sliced_showcases %}
  <a class="grid-item showcase more" href="{{ showcase.url }}">
    <span class="title">{{ showcase.title }}</span>
    {% include image.html src=showcase.image alt=showcase.title width=1280 height=1280 %}
  </a>
  {% endfor %}

  <div class="pad"></div>
</div>

{% if more_sliced_showcases %}
<button class="button small show-more-showcases">
  <span class="collapsed">Bekijk alle showcases</span>
  <span class="expanded">Bekijk minder showcases</span>
</button>
{% endif %}
