.button {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 16px 24px;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: 50px;
  border: none;
  display: inline-flex;
  cursor: pointer;

  &.small {
    font-size: var(--font-size-small);
    padding: 10px 22px;
  }

  &.light {
    background-color: var(--color-white);
    color: var(--color-black);  
  }
}